* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}

.header {
    background-image: url(./img/1.jpg);
    background-size: cover;
    width: 100%;
    height: 1000px;
    position: relative;
}

.container_header {
    display: flex;
    flex-direction: column;
}

#logo {
    float: left;
    margin-left: 50px;
}

#logo h1 {
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin-top: 5px;
}

.nav {
    float: right;
    margin-top: 5px;
    margin-right: 50px;
}

ul {
    list-style-type:none ;
    margin: 0.5;
}

li {
    float: left;
    display: inline;
}

li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    /* font-size: 20px; */
    text-align: center;
    font-weight: normal;
    border-radius: 5%;
}
li a:hover {
    background-color: white;
    color: black;
}

#main_header {
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

#main_header h1 {
    color: white;
    font-size: 65px;
}

#main_header p {
    color: white;
    font-size: 20px;
}

#main_header .read-more {
    margin-top: 60px;
    color: white;
    background-color: #0000ff05;
    border: 2px solid white;
    border-radius: 5%;
    outline: none;
    padding: 8px 20px;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}

#label_list {
    /* height: 33px; */
    width: 10%;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}
#label_list .circle {
    display: inline-block;
    background:lightgrey;
    clip-path: circle(50%);
    height: 1em;
    width: 1em;
}

#welcome {
    padding: 20px 40px;
}

#welcome h2 {
    font-size: 50px;
    text-align: center;
}

#welcome p {
    width: 75%;
    margin: 10px auto;
    text-align: center;
    color: lightgrey;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1px;
}

#welcome img {
    width: 100%;
}

#What-we-do {
    padding: 20px 40px;
}

#What-we-do h2 {
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
#What-we-do .container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.container .item {
    width: 25%;
    height: 300px;
    text-align: center;
}

.item img {
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}
.item p {
    margin: 0, auto;
    font-size: 15px;
    font-weight: 1.4;
    color: lightgray;
}

#statistics {
    background-image: url(./img/bg.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    display: flex;
    display: inline-block;
    justify-content: center;
}

#statistics h2 {
    color: white;
    height: 60px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.container-statistics {
    margin: auto;
    width: 80%;
    height: 100px;
    display: flex;
}

.item-statistics {
    width: 25%;
    height: 100px;
    color: white;
    text-align: center;
}

.item-statistics h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

#services {
    background-color: #80808036;
    width: 100%;
    height: 1000px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#left {
    margin-left: 300px;
    flex: 1;
}

#left h2 {
    margin-top: 0px;
    font-size: 60px;
    font-weight: bold;
}

#left p {
    text-align: left;
    margin: auto;
    font-size: 20px;
    color: gray;
    line-height: 2.5;
}

#right {
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    flex: 2;
}

.right_item {
    background-color: white;
    margin: 5px;
    padding: 50px;
    text-align: center;
}

.right_item i {
    color: orange;
    font-size: 100px;
}

.right_item h3 {
    font-size: 30px;
    font-weight: 900;
}

.right_item p {
    color: lightgrey;
    margin-top: 20px;
}

#testimonials {
    width: 100%;
    height: 600px;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px;
    text-align: center;
}

#testimonials h2 {
    display: block;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 100px;
    font-size: 70px;
    font-weight: bold;
}

.container_testimonials {
    display: flex;
    margin: 0 150px;
    justify-content: space-around;
}

div {
    display: block;
}
.item_testimonials {
    flex-grow: 1;
}

.item_testimonials img {
    border-radius: 50%;
}

.item_testimonials h3 {
    display: block;
    float: right;
    font-size: 18px;
    color: #ff9900;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}

#our_blog {
    padding: 100px;
}

#our_blog h2 {
    display: block;
    color: black;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.container_our_blog {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item_our_blog{
    width: 31%;
    border: 1px solid;
    box-shadow: 4px 4px lightgrey;
}

.item_our_blog_bottom {
    margin-left: 10px;
}

.item_our_blog_top img {
    width: 100%;
    border-radius: 2px;
}

.item_our_blog_bottom a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: black;
}

.bottom_readmore a {
    color: #ff9900;
    font-weight: bold;
    text-decoration: none;
}

.ob_blog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.ob_blog_item a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: 400;
}

.ob_blog_item p {
    color: #ff9900;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1px;
}

#Contact_Us {
    padding: 40px 120px;
}

#Contact_Us h2 {
    text-align: center;
    font-size: 43px;
}

.container_cs {
    display: flex;
    width: 100%;
    padding: 0px 80px ;
    justify-content: space-around;
}

.cs_left {
    width: 40%;
}

.cs_left h3 {
    color: #ff9900;
    font-size: 30px;
    font-weight: inherit;
    margin-top: 0px;
}

.c_cs_left_row {
    display: flex;
    margin-bottom: 20px;
}

.c_cs_left_icon {
    width: 20%;
    font-size: 30px;
}

.c_cs_left_text h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: inherit;
}

.cs_right {
    width: 50%;
    padding: 2em;
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 0 rgb(56 56 56 / 21%);
}

.cs_right_from {
    margin-bottom: 15px;
}

.right_control {
    width: 100%;
    padding: 15px;
    border: 1px solid #e6e6e6;
}

.right_message_control {
    width: 100%;
    padding: 15px;
    min-height: 200px;
    border: 1px solid #e6e6e6;
}

.right_button {
    width: 100%;
    padding: 15px;
    background-color: #ff9900;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

#footer {
    background-color: black;
    width: 100%;
    height: 450px;
    padding: 50px 100px;
}

.container_ft {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.item_ft {
    width: 18%;
}

.ft_title p {
    color: #e6e6e6;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.ft_text p {
    color: lightgrey;
}

.item_ft_info h4 {
    padding: 0px;
    margin: 0px;
    color: #e6e6e6;
    font-weight: inherit;
}

.item_ft_info p {
    color: lightgrey;
}

.mailbox {
    padding: 13px;
    font-size: 15px;
}

.email_botton {
    padding: 15px 20px;
    font-size: 15px;
    background-color: #c57600;
    color: white;
    margin-left: -5px;
    border: none;
}

.ft_logo {
    list-style: none;
    overflow: auto;
    padding-left: 0px;
}

.ft_logo a{
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    margin-right: 10px;
}

#fb {
    background-color: blue;
}

#tw {
    background-color: aqua;
}

#dir {
    background-color: palevioletred;
}

#go {
    background-color: red;
}